@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Add any global styles here */

.lightning-strike {
  width: 10px;
  height: 10px;
  background-color: yellow;
  border-radius: 50%;
  animation: lightning 1s ease-out;
}

@keyframes lightning {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.dark .leaflet-tile {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.dark .leaflet-container {
  background: #242424;
}


/* Add Leaflet-specific styles */
.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

/* Add compatibility styles */
.leaflet-safari .leaflet-tile-container {
  transform-origin: 0 0;
}

.leaflet-overlay-pane svg {
  user-select: none;
}